<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
        <script src="./scripts/highlight.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <style>
        .comment {
            min-height: 1em;
        }
        .code {
        }
    </style>
    <h1>
        {{name}}
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                {{#each lines}}
                    <div class="comment">
                        {{#if comment}}
                            {{#md comment}}
                            {{/md}}
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div>
                    <pre>
                        <code class="{{tpye}}">
                            {{#each lines}}
                                <div class="code">{{code}}</div>
                            {{/each}}
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</html>